.header {
    grid-area: h;
    background-color: rgb(61, 75, 18);
}
.header img {
    width: 70px;
    margin-top: 10px;
}
.loginBlock{
    float: right;
    color:wheat;
    font-size: 20px;
    padding: 10px;
}
.loginBlock a{
    color:white;
}