.nav {
    display: flex;
}

.item {
    font-size: 1rem;
    font-weight: bold;
    margin-left: 20px;
    letter-spacing: 1px;
}

.link {
    color: #054e17;
    text-decoration: none;
}

.link svg, .active svg {
    margin-right: 4px;
}

.link:hover {
    color: #71a77e;

}

.active {
    color: aliceblue;
    text-decoration: none;
}
